h1 {
  font-size: 5vw;
  margin: 20px;
}
h3 {
  margin: 0px;
  font-size: 2vw;
}
a {
  margin: 0px 5px;
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:
    url("img/ENA-Dog.png"), url("img/hornet.png"), url(img/tenna.webp);
  background-position:
    5% 85%,
    70% 13%,
    90% 92%;
  background-size:
    clamp(200px, 25%, 350px) auto,
    clamp(300px, 25%, 500px) auto,
    clamp(150px, 25%, 250px) auto;
  background-repeat: no-repeat;
  /* background-blend-mode: difference; */
}
